<h1>table des clients</h1>
<table class="table">
  <tr *ngFor=" let c of clients">
    <td>{{c.id}}</td>
    <td>{{c.nom}}</td>
    <td>{{c.numeroTel}}</td>
    <td>{{c.numeroFax}}</td>
    <td>{{c.email}}</td>
    <td>{{c.adresse}}</td>
    <td>{{c.login}}</td>
    <td>{{c.reservations}}</td>
    <td><a href="" [routerLink]="['/client','edit',c.id]" class="btn btn-info">edition</a></td>
    <td>
      <button class="btn btn-danger" (click)="delete(c.id)">supprimer</button>
    </td>
  </tr>
</table>
<a href="" [routerLink]="['/client','create','moral']" class="btn btn-info"> ajouter un client Moral</a>
<a href="" [routerLink]="['/client','create','el']" class="btn btn-info"> ajouter un client El</a>
<a href="" [routerLink]="['/client','create','physique']" class="btn btn-info"> ajouter un client Physique</a>
