<div class="jumbotron">
  <h1>
    Bienvenue sur {{ title }} !
  </h1>
</div>
<div class="row">
  <div class="col-3" id = "menu">
    <h2>Menu</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/vol']" routerLinkActive="active">Vols</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/reservation']" routerLinkActive="active">Réservations</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/client']" routerLinkActive="active">Clients</a></li>
      <li class="list-group-item"><a href="" [routerLink]="['/passager']" routerLinkActive="active">Passagers</a></li>
    </ul>
  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>

