<h1>Liste des vols</h1>
<table class="table">
  <tr>
    <th>n° de vol</th>
    <th>date de depart</th>
    <th>heure de depart</th>
    <th>date d'arrivee</th>
    <th>heure d'arrivee</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let vol of vols">
    <td>{{vol.id}}</td>
    <td>{{vol.dateDepart}}</td>
    <td>{{vol.heureDepart}}</td>
    <td>{{vol.dateArrivee}}</td>
    <td>{{vol.heureArrivee}}</td>
    <td><a href="" [routerLink]="['/vol', 'edit', vol.id]" class="btn btn-info">Edition</a></td>
    <td>
      <button class="btn btn-danger" (click)="delete(vol.id)">Supprimer</button>
    </td>
  </tr>
