<form (ngSubmit)="save()" #variablerepleform="ngForm">
  <div class="form-group">
    <label for="id">id</label>
    <input id="id" name="id" [(ngModel)]="passager.id" class="form-control" readonly/>
    <div class="form-group">
      <div>prenom obligatoire</div>
      <div>le prenom doit faire 3 caractères</div>
      <label for="prenom">prenom</label>
      <input id="prenom" name="prenom" [(ngModel)]="passager.prenom" class="form-control">
    </div>
    <div class="form-group">
      <label for="nom">nom</label>
      <input id="nom" name="nom" [(ngModel)]="passager.nom" class="form-control" minlength="3" maxlength="35" required
             #nom="ngModel">
      <div style="color:red" *ngIf="nom.dirty&&variablerepleform['nom'].hasError('minlength')"> le nom doit faire 3
      </div>
      <div style="color:red" *ngIf="nom.dirty&&variablerepleform['nom'].hasError('required')"> le nom doit faire 3
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="variablerepleform.invalid">Enregistrer</button>
  </div>
</form>
